<mat-card>
    <div class="example-container">
        <mat-form-field>
            <input matInput placeholder="Nome" #nomeField (keyup)="formNome(nomeField.value)">
        </mat-form-field>

        <mat-form-field>
                <input matInput placeholder="Foto" #nomeField (keyup)="formNome(nomeField.value)">
            </mat-form-field>
        

        <mat-form-field>
            <mat-select placeholder="Paróquia" #paroquiaField [(value)]="cursista.paroquia">
                <mat-option value="NSFc">NSFc</mat-option>
                <mat-option value="SA">SA</mat-option>
                <mat-option value="IC">IC</mat-option>
                <mat-option value="SP">SP</mat-option>
                <mat-option value="NSCAR">NSCAR</mat-option>
                <mat-option value="SMG">SMG</mat-option>
                <mat-option value="NSAe">NSAe</mat-option>
                <mat-option value="PIO">PIO</mat-option>
                <mat-option value="NSG">NSG</mat-option>
                <mat-option value="SV">SV</mat-option>
                <mat-option value="ES">ES</mat-option>
                <mat-option value="NSC">NSC</mat-option>
                <mat-option value="SSC">SSC</mat-option>
                <mat-option value="SL">SL</mat-option>
                <mat-option value="NSAc">NSAc</mat-option>
                <mat-option value="SI">SI</mat-option>
                <mat-option value="SAMC">SAMC</mat-option>
                <mat-option value="ICM">ICM</mat-option>
                <mat-option value="SCJ">SCJ</mat-option>
                <mat-option value="NSFs">NSFs</mat-option>
                <mat-option value="Falta">Falta</mat-option>

            </mat-select>
        </mat-form-field>

        <mat-radio-group>
            <mat-radio-button value="1">Menino</mat-radio-button>
            <mat-radio-button value="2" style="margin-left: 8px;">Menina</mat-radio-button>
        </mat-radio-group>

        <br>

        <div class="button-row">
  
            <button mat-mini-fab color="primary">
                <mat-icon aria-label="Example icon-button with a heart icon" (click)="create()">done</mat-icon>
            </button>
        
        </div>


    </div>
</mat-card>