<mat-card>
    <div class="example-container">
        <form class="formwidth" (ngSubmit)="onSubmit(cadastroForm)" #cadastroForm="ngForm">

            <div>
                <mat-form-field class="twoFields_first">
                    <input matInput placeholder="Nome" #nomeField [(ngModel)]="cursista.nome" name="nome">
                </mat-form-field>

                <mat-form-field class="twoFields_second">
                    <input matInput placeholder="RG" [(ngModel)]="cursista.rg" required name="rg">
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="twoFields_first">
                    <input matInput placeholder="Quarto" [(ngModel)]="cursista.quarto" required name="quarto">
                </mat-form-field>

                <mat-form-field class="twoFields_second">
                    <input matInput placeholder="Foto" [(ngModel)]="cursista.foto" required name="foto">
                </mat-form-field>

                <mat-form-field class="firstFields_second">
                    <mat-select placeholder="Comunidade" [(value)]="cursista.comunidade">
                        <mat-option value="NSFc" *ngFor="let comunidade of "></mat-option>
                        <mat-option value="SA">SA</mat-option>
                        <mat-option value="IC">IC</mat-option>
                        <mat-option value="SP">SP</mat-option>
                        <mat-option value="NSCAR">NSCAR</mat-option>
                        <mat-option value="SMG">SMG</mat-option>
                        <mat-option value="NSAe">NSAe</mat-option>
                        <mat-option value="PIO">PIO</mat-option>
                        <mat-option value="NSG">NSG</mat-option>
                        <mat-option value="SV">SV</mat-option>
                        <mat-option value="ES">ES</mat-option>
                        <mat-option value="NSC">NSC</mat-option>
                        <mat-option value="SSC">SSC</mat-option>
                        <mat-option value="SL">SL</mat-option>
                        <mat-option value="NSAc">NSAc</mat-option>
                        <mat-option value="SI">SI</mat-option>
                        <mat-option value="SAMC">SAMC</mat-option>
                        <mat-option value="ICM">ICM</mat-option>
                        <mat-option value="SCJ">SCJ</mat-option>
                        <mat-option value="NSFs">NSFs</mat-option>
                        <mat-option value="Falta">SR</mat-option>
                    </mat-select>
                </mat-form-field>



            </div>


            <div>
                <mat-form-field class="firstFields_second">
                    <mat-select placeholder="Paróquia" [(value)]="cursista.paroquia">
                        <mat-option value="NSFc">NSFc</mat-option>
                        <mat-option value="SA">SA</mat-option>
                        <mat-option value="IC">IC</mat-option>
                        <mat-option value="SP">SP</mat-option>
                        <mat-option value="NSCAR">NSCAR</mat-option>
                        <mat-option value="SMG">SMG</mat-option>
                        <mat-option value="NSAe">NSAe</mat-option>
                        <mat-option value="PIO">PIO</mat-option>
                        <mat-option value="NSG">NSG</mat-option>
                        <mat-option value="SV">SV</mat-option>
                        <mat-option value="ES">ES</mat-option>
                        <mat-option value="NSC">NSC</mat-option>
                        <mat-option value="SSC">SSC</mat-option>
                        <mat-option value="SL">SL</mat-option>
                        <mat-option value="NSAc">NSAc</mat-option>
                        <mat-option value="SI">SI</mat-option>
                        <mat-option value="SAMC">SAMC</mat-option>
                        <mat-option value="ICM">ICM</mat-option>
                        <mat-option value="SCJ">SCJ</mat-option>
                        <mat-option value="NSFs">NSFs</mat-option>
                        <mat-option value="Falta">SR</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="threeFields_second">
                    <mat-select placeholder="Tam. Camiseta" [(value)]="cursista.tamanhoCamisa">
                        <mat-option value="PP">PP</mat-option>
                        <mat-option value="P">P</mat-option>
                        <mat-option value="M">M</mat-option>
                        <mat-option value="G">G</mat-option>
                        <mat-option value="GG">GG</mat-option>
                        <mat-option value="XG">XG</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="threeFields_second">
                    <mat-select placeholder="Ônibus" [(value)]="cursista.onibus">
                        <mat-option value="2">2</mat-option>
                        <mat-option value="3">3</mat-option>
                    </mat-select>
                </mat-form-field>

            </div>

            <br>

            <div>
                <mat-form-field class="example-container">
                    <textarea matInput placeholder="Descrição" [(ngModel)]="cursista.descricao" name="descricao"> </textarea>
                </mat-form-field>
            </div>





            <div>
                <mat-radio-group [(ngModel)]="cursista.sexo" name=sexo>
                    <mat-radio-button color="primary" value="M">Masculino</mat-radio-button>
                    <mat-radio-button color="primary" value="F">Feminino</mat-radio-button>
                </mat-radio-group>
            </div>

            <br>

            <section class="example-section">
                <mat-slide-toggle class="example-margin" [(ngModel)]="cursista.canhoto" name="btCanhoto">
                    Canhoto
                </mat-slide-toggle>
            </section>



            <br>
            <br>

            <mat-card-actions>
                <div class="button-row">
                    <button mat-mini-fab color="primary">
                        <mat-icon type="submit" aria-label="Example icon-button with a heart icon">done</mat-icon>
                    </button>
                </div>
            </mat-card-actions>
            <mat-card-actions>
                <div class="button-row">
                    <button mat-mini-fab color="primary">
                        <mat-icon type="submit" aria-label="Example icon-button with a heart icon">done</mat-icon>
                    </button>
                </div>
            </mat-card-actions>


        </form>
    </div>
</mat-card>