.example-card {
    max-width: 600px;
    min-width: 300px;
}
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  mat-chip{
    max-width: 100px;
  }


#fem{
  background-color: #e0115f!important;
  background-size: cover!important;
}

#masc{
  background-color: #27aee3!important;
  background-size: cover!important;
}